<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>List of Archives</title>
        
        <% include ./partials/header.ejs %>
        <div id = "demo">
            <div class="data-container">

            </div>
        </div>
        

        </div>        

    </body>

    <script src="/js/archives.js">
        
    </script>
</html>