<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>List of Archives</title>
        
        <% include ./partials/header.ejs %>
        <div class="archive">

        </div>
        <label>See first <input id="lines" type="text"> lines of text in the archive</label><br>
        <button id="seeLines">See</button>
        <div class="result"></div>


    </body>

    <script src="/js/archive.js"></script>
</html>