<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>List of Archives</title>
        
        <% include ./partials/header.ejs %>
        <div id = "archives">

        </div>
        <button class="pagination prev">prev</button><button class="pagination next">next</button>
        </div>        

    </body>

    <script src="/js/archives.js">
        
    </script>
</html>