<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>List of Archives</title>
        
        <% include ./partials/header.ejs %>
        <div>

        </div>
        <label>See first <input type="text"> lines of text in the archive</label><br>
        <button>See</button>
        <label class="result"></label>


    </body>

    <script src="js/archive.js"></script>
</html>