<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Archives</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    </head>

    <body>
            <form method="post" enctype="multipart/form-data">
            <input type="file" name="filetoupload"><br>
            <button class = 'btn-submit'>Submit</button>
            </form>
    </body>

    <script>

$('button.btn-submit').on('click', function(event){
    console.log('here');
            event.preventDefault();
            event.stopPropagation();
            var file = $('input[type="file"]')[0].files[0];
            var formData = new FormData();
            formData.append('archive', file, file.name)
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/save', true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('uploaded');
                } else {
                    alert('An error occurred!');
                }
            };
            xhr.send(formData);
        })
        
    

    </script>
</html>