<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Archives</title>

    </head>

    <body>
            <form action="/save" method="post" enctype="multipart/form-data">
            <input type="file" name="filetoupload"><br>
            <input class = 'btn-submit' type="submit">
            </form>
    </body>
</html>