<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Archives</title>
        
<% include partials/header.ejs %>

        <form method="post" enctype="multipart/form-data" name="filetoupload">
        <input type="file" name="filetoupload" accept=".gz"><br>
        <input type="text" placeholder="Description" class="description">
        <input placeholder="Expire Date" class="expireDate">
        <input placeholder="Expire Time" class="expireTime">
        <!-- <input type="submit"> -->
        <span id = "status"></span>
        <button class = 'btn-submit'>Submit</button>
        
        <div class="status"></div>
        </form>
    </body>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="/js/index.js"></script>
</html>